body{
    background-color: lightgray;

    
}



.motherbox{
    width: 414px;
    height: 1026px;
    background-color: #E5E5E5;
    margin: 0 auto;
}

.topo{
    display: flex;   
    background-color: #CF2B2B;
    width:414px;
    height: 92px;
    position: fixed;
    top:0%;
    box-shadow: 0 4px 4px 0 #00000040;   
    
}



.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 66px;
    width: 248px;
    
    margin-top: 8px;
    margin-left: 21px;
    font-family: 'Righteous', cursive;
    

}

.titulo h1{
    font-size: 44px;
    color:#FFFFFF;
    
}

.titulo h4{
    font-size: 18px;
    color:#FFFFFF;
}

.conteudo-principal{
    height: 842px;
    width:414px;
    background-color: #E5E5E5;
    margin-top:92px;
    font-family: 'Roboto', sans-serif;
    
    
}


    
.titulo-conteudo-principal{
    display:flex;
    padding-top: 31px;
    padding-left: 19px;
    background-color: #E5E5E5;
    font-family: 'Righteous', cursive;
}

.titulo-conteudo-principal p{
    font-size: 26px;
}

.pratos{
    display: flex;
    width: 100%;
    height: 216px;
    background-color: #E5E5E5;
    overflow: hidden;
    margin-top: 17px;
    overflow-x: scroll;
}

.opcao-prato{
    
    width: 172px;
    height: 216px;
    background-color:white;
    border-radius: 9px;
    margin-left: 19px;
    margin-right: 16px;
}

.opcao-prato img{
    width:144px;
    height: 87px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.opcao-prato-formatacao{
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    margin-top: 18px;
    margin-right: 14px;
}

.nomeproduto{
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 6px;
}

.descricaoproduto1{
    color:#A6A6A6;
    font-size: 15px;
}
.descricaoproduto2{
    color:#A6A6A6;
    font-size: 15px;
    margin-bottom: 9px;

}

.preco{
    font-size: 19px;
    font-weight: 400;
}

.bebidas{
    display: flex;
    width: 100%;
    height: 216px;
    background-color: #E5E5E5;
    overflow: hidden;
    margin-top: 17px;
    overflow-x: scroll;
}

.opcao-bebida{
    
    width: 172px;
    height: 216px;
    background-color:white;
    border-radius: 9px;
    margin-left: 19px;
    margin-right: 16px;
}

.opcao-bebida img{
    width:144px;
    height: 87px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.opcao-bebida-formatacao{
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    margin-top: 18px;
    margin-right: 14px;
}

.sobremesas{
    display: flex;
    width: 100%;
    height: 216px;
    background-color:#E5E5E5;
    overflow: hidden;
    margin-top: 17px;
    overflow-x: scroll;
}

.opcao-sobremesa{
    
    width: 172px;
    height: 216px;
    background-color: white;
    border-radius: 9px;
    margin-left: 19px;
    margin-right: 16px;
}

.opcao-sobremesa img{
    width:144px;
    height: 87px;
    margin-bottom: 8px;
}

.opcao-sobremesa-formatacao{
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    margin-top: 18px;
    margin-right: 14px;
}

.rodape{
    width: 414px;
    height: 110px;
    background-color: green;
    display:flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom:0;
    background-color: white;
    
}

.botaopedido{
    width: 364px;
    height: 61px;
    background-color: #CBCBCB;
    border-radius: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.statuspedido{
    
    font-family: 'Roboto', sans-serif;
}